.header {
  background-color: #2f303a;
  padding: 1rem 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: inline-block;
    img {
      height: 50px;
      width: auto;
      display: block;
    }
  }


  &__list {
    list-style: none;
    display: flex;
    gap: 2rem; 
    margin: 0;
    padding: 0;
  }


  &__link {
    color: #ffffffcc;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover,
    &:focus {
      color: #fff;
      text-decoration: underline;
    }
  }

  @media (max-width: 767px) {
    .container {
      flex-direction: row;
      align-items: center;
    }

    &__list {
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      margin-top: 1rem;
    }
  }
}

// MOBILE/TABLET ONLY
.burger {
  display: flex;
  border: none;
  width: 100px;
  height: 100px;
background-color: transparent;
  @media (min-width: 768px) {
    display: none;
  }

  &__icon{
    fill: #fff;
  }

}

.mobile {
  display: flex;

  @media (min-width: 768px) {
    display: none ;
  }
}

// DESKTOP ONLY
.header__nav {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    gap: 40px;
    align-items: center;
  }
}
